.timetable{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.timetable > .info {
    display: flex;
    justify-content: space-between;
}

.timetable > .info > .buttons {
    display: flex;
    gap: 10px;
}